*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b0b386;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content{
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.logo-da-marca{
    height: 110px;
    border-radius: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.arroba-do-instagram{
    color: #f9cdd5;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
}

.frase-de-efeito{
    color: #f9cdd5;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
}

.social-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    height: 300px;
    width: 100%;
}

a{
    background-color: #f9cdd5;
    color: #7a8450;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    height: 64px;
    width: 98%;
    margin: auto;
    text-decoration: none;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0.1px 0.1px 6px #f9cdd5;
}

a:hover{
    background-color: #b0b386;
    border: 3px solid #f9cdd5;
    color: #f9cdd5;
    box-shadow: 0.1px 0.1px 8px #f9cdd5;
}

@media (max-width: 600px){
    .content{
        height: 100vh;
        width: 90%;
        margin-top: 75px;
    }

    .arroba-do-instagram{
        margin-top: 24px;
    }

    .social-links{
        justify-content: initial;
        align-items: center;
        margin-top: 55px;
    }

    a{
        width: 100%;
        margin: 8px 0;
    }
}
